@font-face {
    font-family: 'NotoSans';
    src: url(./fonts/NotoSans/static/NotoSans-Black.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{ 
    text-align: center;
    margin: 0 auto;
}
.standart-button{
    padding: 1% 2%;
    border:none;
    border-radius: 20px;
    font-size: 1.3rem;
}
.button-add{
    color: rgba(241, 241, 241, 0.959);
    background: rgb(5, 93, 234);
    font-family: 'NotoSans';
    font-size: 1.1rem;
    cursor: pointer;
    transition-duration: 300ms;
    transition-property: box-shadow;
}
.button-add:hover{
    box-shadow:  1px 2px 20px rgb(5, 93, 234);
}
.button-remove{
    cursor: pointer;
    color: #fff;
    font-size: 1.1rem;
    font-family: 'NotoSans';
    background: rgb(195, 19, 19);
    transition-duration: 300ms;
    transition-property: box-shadow;
}
.button-remove:hover{
    box-shadow: 1px 2px 20px rgb(195, 19, 19);
}
.clickInButton{
    animation: clickInButton 0.1s ease;
}
.button-disabled{
    color: rgba(241, 241, 241, 0.959);
    background: rgb(94, 153, 247);
    cursor: pointer;
}
.row__red-circle{
    background: rgb(195, 19, 19);
}
.row__green-circle{
    background: rgb(11, 171, 11);
}
.blue-cells{
    background: rgb(5, 93, 234);
}
.orange-cells{
    background: orangered;
}
.red-cells{
    background: rgb(195, 19, 19);
}
.black-cells{
    background: black;
}
.background-gif-explosion{
    background-image: url(./images/explosion.gif);
    background-size: contain;
}
.background-gif-water{
    background-image: url(./images/explosion-water.gif);
    background-size: contain;
    background-repeat: no-repeat;
}
@keyframes clickInButton {
    0%{
        padding: 1%;
    }
    50%{
        padding: 0%;
    }
    100%{
        padding: 1%;
    }
}